@{
    ViewData["Title"] = "Error";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Eeeek!! </h2>
<p>
    An error has occured in the <strong>Simple Weather App</strong>. Please Refresh or try again later.
</p>
